{% extends "base.html" %}

{% block links %} 
    <li><a href="/">Home</a></li>
    <li><a href="/build_tool">Build Team</a></li>
    <li><a href="logout">Logout</a></li>
{% endblock %}


{% block content %}

<div class="filters">
    <div>
    <label for="position-filter">Position:</label>
    <select id="position-filter">
        <option value="All">All</option>
        <option value="Goalkeeper">Goalkeeper</option>
        <option value="Defender">Defender</option>
        <option value="Midfielder">Midfielder</option>
        <option value="Forward">Forward</option>
    </select>
    </div>

    <div>
    <label for="team-filter">Team:</label>
    <select id="team-filter">
        <option value="All">All</option>
        {% for team in teams %}
            <option value="{{ team }}">{{ team }}</option>
        {% endfor %}
    </select>
    </div>

    <div>
        <label for="gameweek-filter">Last X Gameweeks:</label>
        <select id="gameweek-filter">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>

    <div>
        <button id="apply-filters" type="button">Apply Filters</button>
    </div>

</div>

<div class="table-container">
<table id="sortable-table">
    <thead>
        <tr>
            <th data-sort="player_name">Player Name</th>
            <th data-sort="position">Position</th>
            <th data-sort="team">Team</th>
            <th data-sort="points">Points</th>
            <th data-sort="bonus">Bonus</th>
            <th data-sort="bps">BPS</th>
            <th data-sort="goals">Goals</th>
            <th data-sort="assists">Assists</th>
            <th data-sort="goal_contributions">Goal Contributions</th>
            <th data-sort="xg">xG</th>
            <th data-sort="xga">xGA</th>
            <th data-sort="xgc">xGC</th>
            <th data-sort="clean_sheets">Clean Sheets</th>
            <th data-sort="yellow_cards">Yellow Cards</th>
            <th data-sort="saves">Saves</th>
        </tr>
    </thead>
    <tbody>
        {% for row in player_data %}
      <tr>
        {% for col in row %}
            {% if col is float %}
                <td>{{ col | round(2) }}</td>
            {% else %} 
                <td>{{ col }}</td>
            {% endif %}
        {% endfor %}
      </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script src="/static/sortable_table.js"></script>



{% endblock %}


    
    
                
                