<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FPL Team Build Tool{% endblock %} </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-brand">
            <span class="navbar-brand-text">FPL Team Build Tool</span>
        </div>
        <ul class="navbar-links">
            {% block links %}
            <li><a href="/">Home</a></li>
            <li><a href="login">Login</a></li>
            {% endblock %}
        </ul>
    </nav>
    
    {% block content %}
        <h1>Default Text</h1>
    {% endblock %}

</body>
</html>